{% extends 'base.html' %}
{% block content %}
<form action="{% url 'users:cadastro' %}" class="form-signin" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="row">
        <label> First Name </label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
    </div>
    <div class="row">
        <label> Last Name </label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </div>
    <div class="row">
        <label> Email </label>
        {{ form.email}}
        {{ form.email.errors }}
    </div>
    <div class="row">
        <label> Username </label>
        {{ form.username}}
        {{ form.username.errors }}
    </div>
    <div class="row">
        <label> Password </label>
        {{ form.password}}
        {{ form.password.errors }}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
{% endblock %}
