{% extends 'base.html' %}
{% block content %}
<form action="{% url 'users:login' %}" class="form-signin" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Login</h2>

    <div class="form-group">
        <div class="col-md-4">
            <input type="text" name="username" class="form-control" placeholder="Login">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <input type="password" name="password" class="form-control" placeholder="Senha">
        </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
{% endblock %}
